body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color:lightyellow;
}

#loadDogs {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#dogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}

.dog-card {
  width: 220px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  overflow: hidden;
}

.dog-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.dog-card p {
  padding: 10px;
  font-weight: bold;
}
#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-width: 10px;
  border-color: red;
  cursor: pointer;
}
